<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="appConnection1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Бауыржан\Desktop\Ado.NetWinForm_Sales-master\Ado.NetWinForm_Sales-master\Ado.NetWinFormSdelki\MyDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="appConnection2" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Бауыржан\Desktop\Ado.NetWinForm_Sales-master\Ado.NetWinForm_Sales-master\Ado.NetWinFormSdelki\MyDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>